@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;

}

nav ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display:flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 40px;
    padding: 34px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 550px;

}


.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color:white;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons{
    margin-top: 14px;
}
.icons{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
}
.songItem {
    padding: 30px;
    align-items: left;
    border-radius: 20px;
}